<img
  src="https://www.sleepiest.com/cdn-cgi/image/f=webp,w=321,h=695/img/sleep-course-1.png"
  width="321"
  height="695"
  alt="Sleep course 1"
  format="webp"
  delay="100"
  class="aspect-iPhoneX w-64 rounded-3xl border-salesHeader border-4 box-content v-lazy-image v-lazy-image-loaded"
  style="
    opacity: 1;
    transform: translate3d(-50px, 0px, 0px) scale(1) rotate(-6deg);
  "
  srcset="
    https://www.sleepiest.com/cdn-cgi/image/f=webp,w=321,h=695/img/sleep-course-1.png  1x,
    https://www.sleepiest.com/cdn-cgi/image/f=webp,w=642,h=1390/img/sleep-course-1.png 2x,
    https://www.sleepiest.com/cdn-cgi/image/f=webp,w=963,h=2085/img/sleep-course-1.png 3x
  "
/>
